
.telegram-response-result {
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    transition-duration: 0.2s;
}

.telegram-response-result:empty {
    display: none;

}

.telegram-response-result[data-type="warning"], .telegram-response-result[data-type="warningCaptcha"] {
    background: #ffc107 !important;
    transition-duration: 0.2s;
}

.telegram-response-result[data-type="error"] {
    background: #dc3545 !important;
    transition-duration: 0.2s;
}

.telegram-response-result[data-type="success"] {
    background: #28a745 !important;
    transition-duration: 0.2s;
}

#telegram-form .invalid {
    border-color: #dc3545 !important;
}

#telegram-form .invalid .form-control-feedback {
    color: #dc3545 !important;
}